Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-slicing,
  cppcoreguidelines-pro-type-member-init,
  modernize-use-nullptr,
  modernize-use-override

WarningsAsErrors: ''
HeaderFilterRegex: 'order-book-v2/(include|src)/'
FormatStyle: none
